.card {
	width: 25rem;
	border-bottom: 1px solid #212423;
	display: flex;
	align-items: center;
	justify-items: center;
	position: relative;
	height: 18rem;
}

.img {
	position: sticky;
	top: 1rem;
	left: 0;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	margin-right: 1rem;
}

.infos {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	overflow: scroll;
	width: 70%;
	height: 100%;
}

.infos div {
	display: flex;
	align-items: center;
	justify-content: left;
}

.desc {
	font-size: 1.15rem;
	text-align: left;
}

.delete {
	background-color: transparent;
	outline: none;
	border: none;
	position: absolute;
	top: 1rem;
	right: 0;
	opacity: 0.7;
}

.delete:hover {
	font-weight: 500;
	opacity: 1;
}

@media (min-width: 992px) {
	.card {
		width: 35rem;
	}

	.delete {
		right: 1rem;
	}
}
