.section {
	background-color: #212423;
	text-align: center;
	width: 100%;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.title {
	color: #747163;
	font-size: 5.3rem;
	font-weight: 400;
	line-height: -0.09rem;
	letter-spacing: -0.6rem;
}

.img {
	width: 20rem;
}

.span {
	color: #747163;
}

.desc {
	padding: 2rem;
	font-size: 1.2rem;
	text-align: center;
	color: #747163;
}

@media (min-width: 992px) {
	.section {
		height: 100vh;
	}
	.display {
		display: flex;
		flex-direction: row;
		height: 100vh;
	}

	.title {
		font-size: 4.3rem;
	}

	.img {
		width: 16rem;
		margin: auto;
	}

	.desc {
		width: 70rem;
	}
}
